// ==========================================
// === Stylesheet for PersoCard Component ===
// ==========================================

@use '../../styles/vars';

.perso-card {
    background-color: vars.$infoCardBckgd;
    border-radius: vars.$cardBorderRadius;
    overflow: hidden;
    margin-bottom: vars.$cardMarginBottom;

    .infos {
        background-color: vars.$persoCardBckgd;
        border-radius: 0 0 vars.$cardBorderRadius vars.$cardBorderRadius;
        padding: vars.$cardPadding;
        display: flex;
        align-items: center;

        &__picture {
            width: 25%;
            border-radius: 50%;
            border: 3px solid vars.$mainWhite;
            margin-right: .5rem;
        }

        &__name {
            color: vars.$mainWhite;
            font-size: 1.5rem;
            font-weight: vars.$lightWeight;

            span {
                font-size: .8rem;
                font-weight: vars.$lightWeight;
                display: block;
                margin-bottom: .5rem;
            }
        }
    }

    .selection {
        padding: vars.$cardPadding;
        display: flex;
        justify-content: space-between;

        &__item {
            color: vars.$unselectedAndHover;

            &--selected {
                color: vars.$mainWhite;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .perso-card {
        width: 230px;
        margin: 1rem;

        .infos {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: calc(100% - 128px);

            &__picture {
                width: 45%;
                margin-right: 0;
                margin-bottom: 2rem;
            }

            &__name {
                font-size: 2rem;
                line-height: 3rem;

                span {
                    margin-bottom: .5rem;
                    line-height: 0;
                }
            }
        }

        .selection {
            flex-direction: column;
            justify-content: initial;

            &__item {
                cursor: pointer;
                margin-bottom: 1rem;

                &:hover {
                    color: vars.$mainWhite;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}