// Font

$mainFont: 'Rubik', sans-serif;

$lightWeight: 300;
$regularWeight: 400;
$mediumWeight: 500;

$fontSizeCardTitle: 1.125rem;

// Colors

$persoCardBckgd: hsl(246, 80%, 60%);
$workCardBckgd: hsl(15, 100%, 70%);
$playCardBckgd: hsl(195, 74%, 62%);
$studyCardBckgd: hsl(348, 100%, 68%);
$exerciseCardBckgd: hsl(145, 58%, 55%);
$socialCardBckgd: hsl(264, 64%, 52%);
$selfcareCardBckgd: hsl(43, 84%, 65%);

$mainBckgd: hsl(226, 43%, 10%);
$infoCardBckgd: hsl(235, 46%, 20%);
$unselectedAndHover: hsl(235, 45%, 61%);
$timeInfos: hsl(236, 100%, 87%);

$mainWhite: white;

// Sizes

$cardBorderRadius: 10px;
$mobileTopBottomMargin: 4rem;
$cardPadding: 1.5rem;
$cardMarginBottom: 1.5rem;