// ====================================
// === Stylesheet for App Component ===
// ====================================

@use '../../styles/vars';

.app {
    width: 90%;
    min-width: 290px;
    max-width: 450px;
    margin: vars.$mobileTopBottomMargin auto;
}