// ======================================
// === Stylesheet for Cards Component ===
// ======================================

@use '../../styles/vars';

.cards {
    .card {
        margin-bottom: vars.$cardMarginBottom;
        background-color: vars.$workCardBckgd;
        border-radius: vars.$cardBorderRadius;
        overflow: hidden;

        &-icon {
            height: 3rem;

            &__picture {
                position: relative;
                top: -10px;
                left: 70%;
            }
        }

        &-content {
            position: relative;
            background-color: vars.$infoCardBckgd;
            border-radius: vars.$cardBorderRadius vars.$cardBorderRadius 0 0;
            padding: vars.$cardPadding;
            cursor: pointer;

            &:hover {
                background-color: vars.$unselectedAndHover;
            }

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;

                &__title {
                    color: vars.$mainWhite;
                    font-weight: vars.$mediumWeight;
                }

                &__menu {
                    background-image: url('../../assets/images/icon-ellipsis.svg');
                    width: 21px;
                    height: 5px;

                    // TODO : Faire le hover
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: vars.$lightWeight;

                &__hours {
                    font-size: 2rem;
                    color: vars.$mainWhite;
                }

                &__before {
                    color: vars.$timeInfos;
                }
            }
        }
    }
}